/* src/components/Navigation.css */

.navbar {
  margin-bottom: 20px; /* Espacio entre el menú y el contenido principal */
}

.navbar-toggler {
  border: none; /* Eliminar el borde del botón del toggler */
}

.collapse {
  position: absolute;
  top: 56px; /* Ajustar según el tamaño del navbar */
  left: 0;
  z-index: 1000; /* Asegurarse que el menú colapsado esté por encima del contenido */
  width: 100%; /* Ocupar todo el ancho */
  background-color: #343a40; /* Color de fondo del menú colapsado */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.collapse .nav-link {
  color: #adb5bd; /* Color de texto para los enlaces del menú colapsado */
  padding: 10px 20px; /* Espaciado interno de los enlaces */
  text-decoration: none; /* Eliminar subrayado de los enlaces */
  display: block; /* Convertir los enlaces en bloques para ocupar todo el ancho */
}

.collapse .nav-link:hover {
  color: #61dafb; /* Color de texto al pasar el ratón sobre los enlaces */
}
